<nav class="navbar bg-primary" data-bs-theme="dark">
  <!-- Navbar content -->
  <h1>BookPedia</h1>

<form action="/results">
<div><label for="book">Enter Author name Or Book name </label>
<input id="book" type="text" name="book_name" placeholder="E.g A Tale of Two Cities">

<button>Search</button></div>


</form>
</nav>
<h1 class="text-center">Search for a book to begin</h1>
